html {
  position: relative;
  min-height: 100%;
}

.logo{
    margin-top:20px;
    margin-bottom:20px;
}

.header-image{
    width: 100%;
    height: auto;
}

.form-footer{
    margin:10px auto 20px;
}

.footer {
  width: 100%;
  background-color: #e6e7e8;
  margin-top:20px;
  padding-bottom:20px;
}


.container .text-muted {
  margin: 20px 0;
}

@media (max-width: 767px) {
    .request{
    background-color:#f5f5f5;
}
}

@media (min-width: 768px) {
    .request{
    border: 1px solid grey;
    margin-top:-100px;
    background-color:white;
}
}



